.DS_Store
*.csv
*.history
*.ipynb_checkpoints
python/build/

python/dist/

python/wtte\.egg-info/

python/\.cache/

python/\.eggs/

python/tests/__pycache__/

*.pyc

# virtualenv
wtte-rnn-env

# sphinx-docs related files
docs/_build/
docs/*.rst
docs/_templates/
docs/_static/
